div, header, nav, section, ul, article {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: boder-box;
  box-sizing: border-box;
}

body {
  background-color: #999;
  font-family: Arial, sans-serif;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

#site-wrap {
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
}

#main-header {
  position: relative;
  height: 270px;
  background: url("images/headerBackground.jpg") no-repeat left top;
  background-size: cover;
}
#main-header h1 {
  color: #fff;
  position: absolute;
  right: 30px;
  bottom: 15px;
  font-size: 1.7em;
}

#main-nav {
  background-color: #e3e3e3;
  border-bottom: 2px solid white;
}
#main-nav ul {
  list-style-type: none;
}
#main-nav ul li {
  position: relative;
}
#main-nav ul li:hover > ul {
  display: block;
}
#main-nav ul ul {
  display: none;
  position: absolute;
  width: 160px;
  background-color: #979797;
}
#main-nav ul ul li:hover {
  background-color: #ebebeb;
}
#main-nav > ul > li {
  display: inline-block;
  border-left: 1px solid white;
}
#main-nav > ul > li:last-child {
  border-right: 1px solid white;
}
#main-nav > ul > li:hover > a {
  background-color: #979797;
}
#main-nav a {
  display: block;
  text-decoration: none;
  color: #605f61;
  text-transform: uppercase;
  padding: 10px 25px;
}
#main-nav .sub-sub-list {
  left: 160px;
  top: 0;
}

#page-body {
  padding: 15px 30px;
}
#page-body .left-col {
  float: left;
  width: 70%;
}
#page-body .right-col {
  float: left;
  width: 25%;
  margin-left: 5%;
}
#page-body section,
#page-body aside {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 7px 15px;
  margin-top: 15px;
}
#page-body header {
  color: #82be1b;
}
#page-body header.upcase {
  text-transform: uppercase;
}

aside {
  font-size: 0.9em;
}
aside:first-of-type {
  background-color: #eee;
}
aside time {
  font-weight: bold;
}
aside a {
  color: green;
}

#main-footer {
  background-color: #8bc523;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
#main-footer a {
  color: #000;
  padding-left: 5px;
  border-left: 1px solid #000;
}

@media screen and (max-width: 800px) {
  #site-wrap {
    width: 100%;
  }

  #page-body .left-col,
  #page-body .right-col {
    float: none;
    width: 90%;
    margin: 15px auto;
  }
}
