nav, ul, li, a, input {
  margin: 0;
  padding: 0;
}

#main-nav {
  height: 60px;
  background: #324663 url("images/logo.png") no-repeat 30px center;
  text-align: right;
  padding: 15px 30px;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
}
#main-nav ul {
  list-style-type: none;
}
#main-nav ul:last-child {
  margin-top: 5px;
}
#main-nav ul ul {
  display: none;
  position: absolute;
  background-color: #324663;
}

.menu-link {
  display: inline-block;
  position: relative;
}
.menu-link:hover > a {
  background-color: #869ec2;
}
.menu-link:hover > ul {
  display: block;
}
.menu-link.notifications a {
  background-image: url("images/notification.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 18px;
}
.menu-link.arrow a {
  background-image: url("images/down-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.menu-link a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px 15px;
  border-radius: 5px;
}
.menu-link input {
  border: none;
  outline: none;
  vertical-align: middle;
}
.menu-link input[type='search'] {
  width: 185px;
  height: 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 5px;
}
.menu-link input[type='image'] {
  height: 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -4px;
  border-left: 1px solid #ccc;
}
